/*----- email form  */
.section-form{ 
    width:90%;
    max-width: 850px;
    margin:17% auto 5%;    
}

.form-elements{
    border-top:1px solid #5c6b92;
    background-color: rgba(92, 107, 146,.05);
    padding: 3% 5%;
    box-sizing: border-box;
}

.pure-group{
    margin-bottom:30px;
}

label.pure-group-label,
label.pure-group-label.active,
.pure-group-label{
    width: 20%;
    display: inline-block;
    font-size: 1.125rem;
    color: #454545;
    line-height: 2.32;
    font-weight: bold;
}
label.pure-group-label .small{
    font-size: .9rem;
    color: #ff9c00;
}
.alert-txt{
    font-size: .9em;
    display: block;
    text-indent: 20%;
}
[type="checkbox"] + .alert-chk{
    /* position: absolute; */
    /* top:0;left:0; */
    width:20px;
    height: 19px !important;
    padding-left:0 !important;
    margin-right:30px;
    box-shadow: 0 0 0.5em rgba(0, 150, 136,1);
}

input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
input.pure-group-text{
    width:33%;height: 33px;
    display: inline-block;
    border: 1px solid #bac1d4;
    background-color: #fff;
    font-size: 1rem;
    padding-left: 10px;
    /* position: relative; */
}
input::placeholder{font-size: .9rem;}
input.pure-group-text.pure-group-number{ width:10%; }
input.pure-group-text.pure-group-number:not(:last-child){
    margin-right:1.2%;
}

select,
.custom-select{
    display: inline-block;
    height: 33px;width:80%;
    font-size: 1rem;
}
select.first{ 
    width:29%;
    margin-right:3%; 
    border: 1px solid #bac1d4;
    background-color: #fff;
}
select.second{ 
    width:68%; 
    border: 1px solid #bac1d4;
    background-color: #fff;
    display: none;
}

textarea,
textarea.pure-group-text{ 
    width: 80%;
    resize: vertical;
    min-height:140px;
    box-sizing: border-box;
    padding:8px;
    font-size: 1rem;
    vertical-align: top;
    border: 1px solid #bac1d4;
    background-color: #fff;

    /**** 스크롤바 ********/
    scrollbar-arrow-color:#ddd;
    scrollbar-base-color:#fff;
    scrollbar-3dlight-color:#fff;
    scrollbar-darkshadow-color:#fff;  
    scrollbar-face-color:#ddd;
    scrollbar-highlight-color:#fff;
    scrollbar-shadow-color:#fff;
    scrollbar-track-color:#fff;
}
textarea::placeholder{
    line-height: 1.5;
    font-size: .9rem;
}
.loading-txt{ 
    text-align: center; 
    color:rgb(17, 129, 210);
}
